In [2]:
import pandas as pd

C:\Users\perse\AppData\Local\Temp\ipykernel_1284\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [54]:
df=pd.read_csv("green_tripdata_2019-09.csv")

C:\Users\perse\AppData\Local\Temp\ipykernel_7608\839477890.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("green_tripdata_2019-09.csv")

In [55]:
df.describe

<bound method NDFrame.describe of         VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0            2.0  2019-09-01 00:10:53   2019-09-01 00:23:46
1            2.0  2019-09-01 00:31:22   2019-09-01 00:44:37
2            2.0  2019-09-01 00:50:24   2019-09-01 01:03:20
3            2.0  2019-09-01 00:27:06   2019-09-01 00:33:22
4            2.0  2019-09-01 00:43:23   2019-09-01 00:59:54
...          ...                  ...                   ...
449058       NaN  2019-09-30 23:13:00   2019-09-30 23:41:00
449059       NaN  2019-09-30 23:26:00   2019-09-30 23:46:00
449060       NaN  2019-09-30 23:15:00   2019-09-30 23:43:00
449061       NaN  2019-09-30 23:19:00   2019-10-01 00:06:00
449062       NaN  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N         1.0            65           189
1                       N         1.0            97           225
2                       N         1.0            37            61
3                       N         1.0           145           112
4                       N         1.0           112           198
...                   ...         ...           ...           ...
449058                NaN         NaN            66            71
449059                NaN         NaN            55            26
449060                NaN         NaN           139            78
449061                NaN         NaN           242           188
449062                NaN         NaN           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                   5.0           2.00        10.50   0.50      0.5
1                   5.0           3.20        12.00   0.50      0.5
2                   5.0           2.99        12.00   0.50      0.5
3                   1.0           1.73         7.50   0.50      0.5
4                   1.0           3.42        14.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449058              NaN           7.84        43.25   2.75      0.5
449059              NaN           3.56        25.75   2.75      0.5
449060              NaN          18.47        50.47   2.75      0.5
449061              NaN          20.10        58.22   2.75      0.5
449062              NaN           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             0.00          0.00        NaN                    0.3
3             1.50          0.00        NaN                    0.3
4             3.06          0.00        NaN                    0.3
...            ...           ...        ...                    ...
449058        0.00          0.00        NaN                    0.0
449059        0.00          0.00        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          6.12        NaN                    0.0
449062        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16           1.0        1.0                   0.0
1              13.30           2.0        1.0                   0.0
2              13.30           2.0        1.0                   0.0
3              10.30           1.0        1.0                   0.0
4              18.36           1.0        1.0                   0.0
...              ...           ...        ...                   ...
449058         46.50           NaN        NaN                   NaN
449059         29.00           NaN        NaN                   NaN
449060         59.84           NaN        NaN                   NaN
449061         67.59           NaN        NaN                   NaN
449062         29.32           NaN        NaN                   NaN

[449063 rows x 20 columns]>

In [56]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [57]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [3]:
from sqlalchemy import create_engine

In [4]:
engine= create_engine("postgresql+psycopg2://root:root@localhost:5432/ny_taxi")

In [5]:
engine.connect()

In [61]:
print(pd.io.sql.get_schema(df, name="green_taxi_data",con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [62]:
df_iter=pd.read_csv('green_tripdata_2019-09.csv',iterator=True,chunksize=100000)

In [63]:
df=next(df_iter)

In [64]:
len(df)

100000

In [65]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [66]:
df.head(n=0).to_sql(con=engine,name='green_taxi_data',if_exists='replace')

0

In [67]:
df.to_sql(con=engine,name='green_taxi_data',if_exists='append')

1000

In [68]:
from time import time

In [69]:
while True:
    t_start=time()
    df=next(df_iter)
    df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(con=engine,name='green_taxi_data',if_exists='append')
    t_end=time()
    print(f"Inserted data chunk. Time taken={t_end-t_start}")

Inserted data chunk. Time taken=28.2482852935791
Inserted data chunk. Time taken=25.564329624176025

C:\Users\perse\AppData\Local\Temp\ipykernel_7608\3439235545.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

Inserted data chunk. Time taken=29.7954683303833
Inserted data chunk. Time taken=8.847616910934448

StopIteration:

In [8]:
zones_df=pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
zones_df.to_sql(con=engine,name='zones',if_exists='replace')

265